*{
    box-sizing: border-box;
    margin:0;
}

body{
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* nav bar */
.nav-container{
    position: relative;
position: absolute;
width: 1550px;
height: 80px;
left: 0px;
top: -5px;
background: #FFFFFF;
border: 1px solid #000000;
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
backdrop-filter: blur(4px);
}

.wrapper{
    margin: 0 auto;
    
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height:70px;
    position: relative;
}

nav ul{
    display:flex;
}
.nav-items li{
    list-style: none;
    margin-right: 100px;
}

.nav-items li a{
font-family: Roboto;
font-size: 25px;
font-style: none;
font-weight: 200;
color: #1C1818;
line-height: 35px;
letter-spacing: 0em;
text-align: center;
text-decoration: none;
}

.logo{
    height: 78px;
    top:-3px;
}


/*header*/
.header_container{
    color: linear-gradient(90deg, #000000 20.87%, #D3A9D3 67.5%, rgba(0, 0, 0, 0.0541668) 83.78%, rgba(0, 0, 0, 0) 87.38%);
    position: relative;
}
.about{
    position: absolute;
    left:550px;
    top:60px;
color: linear-gradient(90deg, #000000 20.87%, #D3A9D3 67.5%, rgba(0, 0, 0, 0.0541668) 83.78%, rgba(0, 0, 0, 0) 87.38%);
padding:30px;
font-family: Lora;
font-size: 30px;
font-weight: 200;
text-align: center;
}

.content p{
position: absolute;
left: 52px;
top:132px;
font-family: Roboto;
font-size: 20px;
line-height: 25px;
width: 688px;
height: 264px;
color: #000000;
}

.content img{
    position: absolute;
    width: 727px;
    height: 889px;
    left: -115px;
    top: -205px;
}
.content1 img{
    position: absolute;
    width: 727px;
    height: 889px;
    left: 15px;
    top: -405px;
}
.image_left{
position: absolute;
left: 1043px;
top: 72px;
width:500px;
height:600px;
}

/*Safe Share*/
.safe{
    position: absolute;
    left:550px;
    top:360px;
color: linear-gradient(90deg, #000000 20.87%, #D3A9D3 67.5%, rgba(0, 0, 0, 0.0541668) 83.78%, rgba(0, 0, 0, 0) 87.38%);
padding:30px;
font-family: Lora;
font-size: 30px;
font-weight: 200;
text-align: center;
}



/*Know Your Body*/
.Know{
    position: absolute;
    left:550px;
    top:660px;
color: linear-gradient(90deg, #000000 20.87%, #D3A9D3 67.5%, rgba(0, 0, 0, 0.0541668) 83.78%, rgba(0, 0, 0, 0) 87.38%);
padding:30px;
font-family: Lora;
font-size: 30px;
font-weight: 200;
text-align: center;
}
.content_KNB img{
position: absolute;
left: 0px;
top: 672px;
width:500px;
height:600px;
}
.KNB{
    position: absolute;
    left: 352px;
    top:782px;
    font-family: Roboto;
    font-size: 20px;
    line-height: 35px;
    height:500px;
    width:600px;
    color: #000000; 
}

.image1{
    position: absolute;
    right: 0px;
    top: 672px;
    width:500px;
    height:600px;
    }

/*contact*/

.Contact1{
    position: absolute;
    left:580px;
    top:2200px;
color: linear-gradient(90deg, #000000 20.87%, #D3A9D3 67.5%, rgba(0, 0, 0, 0.0541668) 83.78%, rgba(0, 0, 0, 0) 87.38%);
padding:30px;
font-family: Lora;
font-size: 30px;
font-weight: 200;
text-align: center;
}


.content_contact{
    position: absolute;
    left: 392px;
    top:2300px;
    font-family: Roboto;
    font-size: 20px;
    line-height: 25px;
    width: 688px;
    height: 264px;
    color: #000000; 
}



.content_contact img{

    position: absolute;
    width: 727px;
    height: 800px;
    right: -300px;
    top: 100px;

}
.contact img{
    position: absolute;
    width: 727px;
    height: 889px;
    left: 415px;
    top: 100px;
}
.content_contact label{
    font-family: Roboto;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
}

.content_contact input{
    padding:40px;
    margin:4px 10px;
    border: 2px solid black;
}

.submit{
    padding:12px;
    margin:10px 10px;
    background-color:black;
    color: #D3A9D3;
    height: 40px;
    width: 80px;
    border-radius: 2%;
    cursor:pointer;
}

/*footer*/
footer{
    position: absolute;
width: 1472px;
height: 50;
left: 50%;
border:2px solid #FFFFFF;
top: 3200px;
    font-family: Roboto;
    font-weight: 200px;
    font-size: 10px;
    
}